/*
  Authors : Mudey Formation
  Website : https://mudey.fr/
  App Name : E-commerce with React.Js
  Created At : 13/05/2024 11:30:14
*/

.Home {}
.Home .bande{
  color: #f6bc57;
  background-color: #f6bc57;
  height: 60px;
}
.Home .nos-services{
  text-align: center;

}
.Home .nos-services p{
  font-size: 40px;
  
border: 1px solid #f6bc57;

}
.h100{
  height: 200vh;
}






























