/*
  Authors : Mudey Formation
  Website : https://mudey.fr/
  App Name : E-commerce with React.Js
  Created At : 04/03/2024 16:52:54
*/

.Header {
position: sticky;
top: 0;
z-index: 12;
/* width: 100%;  */
}
.Header .header-top{
background-color: #008b58;
height: 80px;
align-items: center;
justify-content: space-around;
margin-left: -150px;
margin-right: -150px;
padding-bottom: 12px;
}
.Header .header-top .logo img{
width: 75px;
height: 50px;

}
.Header .header-top .company-name{
font-size: 25px;

}
.Header .header-top .company-number{
font-size: 25px;

}


.Header .header-bottom{
background-color: white;
height: 80px;
width: 100%;
/* border: 1px solid red; */

}
.Header .header-bottom .header-bottom-content{
list-style: none;
font-weight: bold;
justify-content: center;
align-items: center;
padding: 17px;
color: #008b58;
font-size: 20px;
margin-top: -20px;
}
.Header .header-bottom .header-bottom-content  li{
display: flex;
justify-content: center;
align-items: center;
height: 50px;
width: 200px;
}
.Header .header-bottom .header-bottom-content  li:hover{
 background-color: #008b58;
 color: white;
 border-radius: 10px;
}
.Header .header-bottom .header-bottom-content  li .dropdown-toggle{
  background-color: white;
  border: none;
  color: #008b58;
  font-weight: bold;
  font-size: 22px;
  height: 50px;
  width: 200px;
}
.Header .header-bottom .header-bottom-content  li .dropdown-toggle:hover{
  background-color: #008b58;
  color: white;
  
}
.Header .header-bottom .header-bottom-content  li .dropdown-menu{
  margin-top: 25px;
  margin-left: -210px;
  text-align: center;
  padding: 8px;
}
.Header .header-bottom .header-bottom-content  li .dropdown-menu .dropdown-item{
  font-weight: bold;
  font-size: 22px;
  color: #008b58;
  padding: 5px;
}
.Header .header-bottom .header-bottom-content  li .dropdown-menu .dropdown-item:hover{
  background-color: #008b58;
  color: white;
  border-radius: 10px;
  
}
.Header .header-bottom .btnMenuResponsive{
flex-direction: column;

}
.Header .header-bottom .btnMenuResponsive .line{
height: 3px;
width: 30px;
background-color: rgb(83, 82, 82);
font-size: 1px;

}

.Header .header-bottom .navbar-toggler{
  display: none;
  position: fixed;
  z-index: 10;
}
.Header .header-bottom .bg-light{

 
  width: 100%!important; 
  margin-left: -50px;
}


.header-bottom-content-responsive{
  list-style: none;
  font-weight: bold;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
  color: #008b58;
  font-size: 22px;
  margin-top: -20px;
  border: 2px solid blue;
  
  /* width: 100%; */
}

.Header .header-bottom .header-bottom-content-responsive li{
  
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 300px;
  }
 
  .Header .header-bottom .header-bottom-content-responsive li:hover{
   background-color: #008b58;
   color: white;
   border-radius: 10px;
  }
  .Header .header-bottom .header-bottom-content-responsive li .dropdown-toggle{
    background: none;
    border: none;
    color: #008b58;
    font-weight: bold;
    font-size: 22px;
    height: 50px;
    width: 500px;
  }
  .Header .header-bottom .header-bottom-content-responsive li .dropdown-toggle:hover{
    /* background-color: #008b58; */
    color: white;
    
  }
  .Header .header-bottom .header-bottom-content-responsive li .dropdown-menu{
    position: absolute; 
    /* left: 100px;   */
    margin-top: 10px;
    z-index: 55;
    text-align: center;
    padding: 8px;
    width: 700px;
    
  }
  .Header .header-bottom .header-bottom-content-responsive li .dropdown-menu .dropdown-item{
    font-weight: bold;
    font-size: 18px;
    color: #008b58;
    padding: 5px;
  }
  .Header .header-bottom .header-bottom-content-responsive li .dropdown-menu .dropdown-item:hover{
    background-color: #008b58;
    color: white;
    border-radius: 10px;
    
  }
  .Header .header-bottom .bg-light{
    display: none;
  }






@media screen and (max-width: 960px) {
  .Header .header-top {
    margin-left: -20px;
    margin-right: 0px;

  }
  .Header .header-top .phone-number2 {
    display: none;
  }

  .Header .header-bottom .header-bottom-content{
    display: none!important;
  }

  .Header .header-bottom {
    align-content: center;
  }

  .Header .header-bottom .navbar-toggler{
   display: block;
   margin-left: 12%;
  }
  .Header .header-bottom .bg-light{
    display: flex; 
    flex-direction: column; 
    position: absolute;
    top: 110px;
    left: 50px;
    width: 500px;
  }
  .Header .header-bottom .header-bottom-content-responsive li{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 700px;
    }
    .Header .header-bottom .bg-light li .dropdown-menu {     
       position: absolute;
      left: -200px;
      
     
      
       /* border: 2px solid rgb(0, 255, 34);  */
    
    }
    .Header .header-bottom .bg-light .li .dropdown-menu {     
      position: absolute;
     left: -200px;
      /* border: 2px solid rgb(0, 255, 34);  */
   
   }
     
    .Header .header-bottom .header-bottom-content-responsive li .dropdown-menu .dropdown-item:hover{
      display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 680px;
    
    
    }





}
@media screen and (max-width: 860px) {
  .Header .header-bottom .navbar-toggler{
    display: block;
    margin-left: 5%;
   }
   .Header .header-bottom .bg-light{
    /* display: flex;
    flex-direction: column; */
    /* width: 400px; 
    position: absolute;
    top: 110px;
    left: -50px; */
   
     /* border: 1px solid blue; */
    
  }

  .Header .header-bottom .header-bottom-content-responsive li{
   
    height: 50px;
    width: 500px;
    margin-right: 50px;
    }
    .Header .header-bottom .header-bottom-content-responsive li .dropdown-menu .dropdown-item:hover{
      
    height: 50px;
    width: 570px;
    
    
    }




}



